
<style>
    .myBody{
        background-image: url("../images/backgroungB.jpg");
        width: 100%;
        height: 100%;
    }
    #special2{
        background: linear-gradient(to left, #6495ED , #A9A9A9);
    }

    .bd {
        background-image: url("../images/backgroungB.jpg");
        width: 100%;
        height: 100%;
    }

    .highlight  {
        width: 100%;
        color: white;
        background: rgba(255, 73, 73, 0.767);
        border-radius: 10px;
        padding: 5%;
        margin-bottom: 1%;

    }

    .highlight img {

        float: left;
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    .highlight ul {
        list-style-image: url('http://icons.iconarchive.com/icons/yusuke-kamiyamane/fugue/16/tick-small-icon.png');
        margin-left: 1%;
        float: left;
        clear: right
    }


    #special2 .highlight h2 {
        padding-bottom: 2%;
        border-bottom: 2px dashed rgba(255, 255, 255, 0.41);
        font-size:20px;
        text-align : center;
        text-transform: uppercase;
    }

    .highlight p {
        text-align: justify;
    }

</style>

<div class="bd">
    <div id="special2" class ="container">

        <div class=" highlight" style="margin-left:0;">
            <h2>Sale!!!! Sale!!! Sale!!!</h2>
            <div class="row">
               <!--
                <img src ="http://www.newdesignfile.com/postpic/2011/07/business-customer-icon_291436.png" />
               -->
                <ul id="txt">
                </ul>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <section id="portfolio-container" class="padding-60">
            <div class="container" align="center">
                <div>
                    <ul id="images"></ul>
                </div>
            </div>
        </section>
    </div>
</div>
