<style>
    .noPadding {
        padding: 2px;
        margin: 2px;
    }

    td ul li {
        overflow: auto;
        white-space: nowrap;
        width: 90px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
    <h3 class="centered"><i class="fas fa-table"></i> Advertisement Data</h3>

    <!--Search Panel-->
    <div class="row">
        <h3><label class="col-lg-1 control-label">Data Filter</label></h3>

        <div class="col-lg-3">
            <div class="input-group-btn search-panel">
                <input type="text" placeholder="Message name" class="form-control"
                       ng-model="Sname">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group-btn search-panel">
                <input type="text" placeholder="Show Duration" class="form-control"
                       ng-model="SshowTime">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="input-group-btn search-panel">
                <input type="text" placeholder="Template" class="form-control"
                       ng-model="Stemplate">
            </div>
        </div>

        <div class="col-lg-1">
            <div class="input-group-btn search-panel">
                <input type="text" placeholder="Screen Num" class="form-control" ng-model="Sid">
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-danger" style="background-color:#531212; border-color: black"><a ng-href="#!advCreate" style="color:white"><i class="fas fa-plus-square" aria-hidden="true"> Add Message</i></a></button>


    <!-- Search Panel-->

    <section id="unseen">
        <table class="table table-bordered table-hover table-striped table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Images List</th>
                    <th>Ad Content</th>
                    <th>Screen Nums</th>
                    <th>Template</th>
                    <th>Show Duration</th>
                    <th>Hours</th>
                    <th>Days</th>
                    <th>Date Limits</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in msgs| filter: {name:Sname} | filter:{id:Sid} | filter:{template:Stemplate} | filter:{showTime:SshowTime}">                     
                    <td>{{data.name}}</td>
                    <td>
                        <ul class="noPadding">
                            <li ng-repeat="y in data.images track by $index"><a ng-href="{{y}}" style="color: white">Link {{$index+1}}</a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="noPadding">
                            <li ng-repeat="y in data.text track by $index">
                                {{$index+1}}. {{y}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="noPadding">
                            <li ng-repeat="y in data.id track by $index">
                                Screen #{{y}}
                            </li>
                        </ul>
                    </td>

                    <td>{{data.template}}</td>
                    <td>{{data.showTime}} sec</td>
                    <td>
                        <ul class="noPadding" ng-repeat="(y,v) in data.days">
                            <li>{{v[0]}}:00 to {{v[1]}}:00</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="noPadding" ng-repeat="(y,v) in data.days">
                            <li>{{y}}</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="noPadding">
                            <li ng-repeat="y in data.date track by $index">{{y | date: 'd MMMM yyyy'}}</li>
                        </ul>
                    </td>

                    <td>
                        <div style="margin-bottom: 5px">
                            <a ng-href="#!advEdit/{{data._id}}">
                                <button type="button" class="btn btn-danger">Edit</button>
                            </a>
                        </div>
                        <button type="button" class="btn btn-danger" ng-click="delete(data._id)">Delete</i>
            </button>
            </td>
        </tr>

    </tbody>
</table>
</section>




</div>
