
<style>
    .bubbleChart {
        min-width: 100px;
        max-width: 700px;
        height: 700px;
        margin: 0 auto;
    }
</style>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,200italic,600italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

<div class="container">
    <div class="row mtbox centered" >
        <div class="col-xs-12">
                <h3 style="color: green;">Server is up and running!</h3>
                <hr>
        </div>
    </div>
    <div class="bubbleChart"></div>
    <!-- /row mt -->

    <div class="row mt" style="display: none">
        <div class="col-xs-12 mb">
            <div class="white-panel pn">
                <div class="white-header">
                    <h5>Most recent template by adverts</h5>
                </div>
                <svg id="groupByTemplate" width="500" height="200"></svg>
            </div>
        </div>
        <!-- /col-md-4 -->
    </div>
    <!-- /row -->



</div>

