<link href="../../CSS/managerCSS/twitterCSS.css" rel="stylesheet">

<a class="twitter-timeline" data-theme="dark" data-link-color="#E95F28" href="https://twitter.com/MallsAds?ref_src=twsrc%5Etfw">Tweets by MallsAds</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form__group">
                <textarea id="tweet-msg" class="form__field" placeholder="Your Message" rows="6"></textarea>
                <label for="tweet-msg" class="form__label">Your Message</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary" ng-click="tweetMsg()">Tweet to your feed</button>
            </div>
        </div>
    </div>
</div>

